@import "_variables";
@import "_mapa";
@import "_contacto";
@import "_redes";



html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1 rem = 10px */
    margin: 0;
    height: 100%;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $fontprimario;
    font-size: 1.6rem;

    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    /*font-family: 'Roboto Mono', monospace;*/
    line-height: 1.2;
}

/*principal*/

.principal {
    font-size: 3rem;
    margin-left: 12%;
    font-family: $fontsecundario;
}


.container__title {
    font-size: 3rem;
    font-family: $fontsecundario;
    margin-top: 0;
}

.jumbo {

    border-radius: 5rem;
    padding: 3rem;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.jumbo__title {
    font-family: $fontprimario;
    text-transform: capitalize;
    font-size: 2.5rem;
    text-align: left;

}

.jumbo__title-texto {
    font-family: $fontsecundario;
    font-size: 1.5rem;

}


.carrusel {

    padding: 2rem;
    width: 60%;

}

.carrusel__img {
    border-radius: 2rem;
    height: 100%;
}






/*fin principal*/
/*inicio producto*/

.presentacion {
    text-align: center;
}

.presentacion__title {
    font-family: $fontprimario;
}

.presentacion__texto {
    font-family: $fontsecundario;
}


.producto {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.producto__cuadrado {
    padding: 2rem;
}

.producto__cuadrado-lata {
    list-style: none;
}

.producto__cuadrado-lata-tam {
    width: 250px;
    height: 250px;
}

.producto_cuadrado-lata-nombre {
    text-transform: uppercase;
    font-family: $fontprimario;
    text-align: center;
}

/*fin producto*/
/*inicio informacion*/

.materiales {
    text-align: center;
}

.informacion {
    align-items: center;
    background-color: $blanco;

    margin-bottom: 2rem;
    opacity: 90%;

}

.informacion__cuadrado {
    border: solid 1px $negro;



}

.informacion__img {
    border-radius: 50rem;



}


/*fin informacion*/
/*Contacto*/
.contacto__info {
    background-color: $colorprimario;
    border: solid 1px $negro;
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 10rem;
    border-radius: 2rem;
}

.contacto__ionfo-input {
    text-align: center;
}

/*FIn Contacto*/