
// Colores

$colorprimario:rgb(160, 16, 11);
$colorsecundario:rgb(141, 108, 71);
$negro:black;
$blanco:white;
$gris:gray;
  

// Colores redes

$Rfacebook: #3b5999;
$Rinstagram: #e4405f;
$Rtwitter: #55acee;
$Rpinteres: #bd081c;
$Rlinkedin: #0077b5;

//fuentes

$fontprimario:'Noto Sans';
$fontsecundario:'Roboto Mono';
$fontstiza1: 'Zen Tokyo Zoo';
$fontstiza2: 'Fredericka the Great';
$fontstiza3: 'Fuggles';
$fontstiza4: 'Homemade Apple';
$fontstiza5: 'Qahiri';
$fontstiza6: 'Shadows Into Light';



//Midia Queries
$iphon: 375px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;


//Separacion

$separacion: 5rem;


