/*inicio informacion*/

.materiales {
    text-align: center;
}

.informacion {
    align-items: center;
    background-color: $blanco;

    margin-bottom: 2rem;
    opacity: 90%;

}

.informacion__cuadrado {
    border: solid 1px $negro;



}

.informacion__img {
    border-radius: 50rem;



}


/*fin informacion*/