/*principal*/


.video {
    position: relative;
    height: 100%;
    max-height: 27rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;

    }

    video {
        display: block;
        width: 100%;

    }

    .contenido-video {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        z-index: 1;

        h2 {
            font-family: $fontstiza6;
            color: $blanco;
            font-size: 7rem;

            @include iphon {
                font-size: 5rem;
            }

            span {
                font-family: $fontstiza1;
                background-color: $colorprimario;
                font-size: 6rem;
                padding: 1rem 2rem;
            }
        }
    }

}

.c-medio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3rem;
    .c-texto {
        text-align: center;
        p {
            text
        }
    }

}


.imgCentral {
    width: 95%;
    max-width: 60rem;
    margin: 2rem auto;
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;

    cursor: pointer;

    &:before, &:after {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        height: 2%;
        border-radius: 30%;
        background: #fff;
        transition: all .3s;
    }

    &:before{left: -100%; top: 1rem;}
    &:after{left: 100%; bottom: 1rem;}

    &:hover:before, &:hover:after {
        left: 15px;

    }

    &-img {
        width: 100%;

    }

    &-text {
        text-align: center;
        position: absolute;
        transition: all .3s;

        transform: scale(1.5);
        opacity: 0;
        

        h1,
        p {
            color: $blanco;
            padding: 10px 20px;

        }
    }

    &:hover .imgCentral-text {
        transform: scale(0.9);
        opacity: 1;
    }

}












/*fin principal*/